{% extends 'layouts/security.html.twig' %}

{% block content %}
    {{ form_start(registrationForm) }}

        <div class="form-group">
            <label>{{ 'register.email_address'|trans }}</label>
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-group">
            <label>{{ 'register.password'|trans }}</label>
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form_widget(registrationForm.isAgree) }} {{ 'register.agree'|trans }}
            </label>
        </div>

        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">{{ 'register.submit_button'|trans }}</button>
        <div class="register-link m-t-15 text-center">
            <p>{{ 'register.have_account'|trans }} <a href="{{ path('login') }}"> {{ 'register.sign_in'|trans }}</a></p>
        </div>

    {{ form_end(registrationForm) }}
{% endblock %}
