{% extends 'layouts/security.html.twig' %}

{% block content %}
    {{ form_start(registrationForm) }}

        <div class="form-group">
            <label>Email address</label>
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form_widget(registrationForm.plainPassword) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form_widget(registrationForm.isAgree) }} Agree the terms and policy
            </label>
        </div>

        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
        <div class="register-link m-t-15 text-center">
            <p>Already have account ? <a href="{{ path('login') }}"> Sign in</a></p>
        </div>

    {{ form_end(registrationForm) }}
{% endblock %}
