{% extends 'layouts/base.html.twig' %}

{% block meta %}

    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/admin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/admin/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('/admin/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/admin/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ asset('/admin/css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet'>

{% endblock %}

{% block aside %}
    {% include 'admin/includes/aside.html.twig' %}
{% endblock %}

{% block body %}

    <div id="right-panel" class="right-panel">
        {% include 'admin/includes/header.html.twig' %}

        <div class="breadcrumbs">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>{% block pageTitle %}Dashboard{% endblock %}</h1>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('/admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/admin/js/popper.min.js') }}"></script>
    <script src="{{ asset('/admin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/admin/js/main.js') }}"></script>

{% endblock %}
