<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="{{ path('home') }}" class="logo"><img src="./img/logo.png" alt=""></a>
                    </div>
                    <ul class="footer-nav">
                        <li><a href="#">{{ 'footer.privacy_policy'|trans }}</a></li>
                        <li><a href="#">{{ 'footer.advertisement'|trans }}</a></li>
                    </ul>
                    <div class="footer-copyright">
                        <span>&copy;{{ 'footer.copyright'|trans }} &copy;<script>document.write(new Date().getFullYear());</script>
                           {{ 'footer.all_rights_reserved'|trans }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <h3 class="footer-title">{{ 'footer.menu.about_us'|trans }}</h3>
                            <ul class="footer-links">
                                <li><a href="about.html">{{ 'footer.menu.about_us'|trans }}</a></li>
                                <li><a href="#">{{ 'footer.menu.join_us'|trans }}</a></li>
                                <li><a href="contact.html">{{ 'footer.menu.contacts'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <h3 class="footer-title">{{ 'footer.categories'|trans }}</h3>
                            <ul class="footer-links">
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ path('category_page',{'slug':category.slug}) }}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="footer-title">{{ 'footer.join_our_newsletter'|trans }}</h3>
                    <div class="footer-newsletter">
                        {{ form_start(subscriberForm, {'attr': {'id':'subscriberForm'}}) }}
                            {{ form_widget(subscriberForm) }}
                            <button class="newsletter-btn">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        {{ form_end(subscriberForm) }}
                    </div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
