<div id="nav-fixed">
    <div class="container">

        <div class="nav-logo">
            <a href="{{ path('home') }}" class="logo">
                <img src="{{ asset('logo.png') }}" alt="WebMag">
            </a>
        </div>

        <ul class="nav-menu nav navbar-nav">
            <li>
                <a href="{{ path('new_page') }}">{{ 'nav.menu.news'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('popular_page') }}">{{ 'nav.menu.popular'|trans }}</a>
            </li>
            {% for category in categories %}
                <li style="border-bottom: 3px solid {{ category.color }}">
                    <a href="{{ path('category_page',{'slug':category.slug}) }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="nav-btns">
            <button class="aside-btn">
                <i class="fa fa-bars"></i>
            </button>
            <button class="search-btn">
                <i class="fa fa-search"></i>
            </button>

            <div class="nav-user-action">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="navbar-link cursor-pointer" href="{{ path('admin_dashboard') }}">
                        <i class="fa fa-user"></i>
                    </a>
                    <a class="navbar-link cursor-pointer" href="{{ path('logout') }}">
                        <i class="fa fa-sign-out"></i>
                    </a>
                {% else %}
                    <a class="navbar-link cursor-pointer" href="{{ path('login') }}">
                        <i class="fa fa-sign-in"></i>
                    </a>
                    <a class="navbar-link cursor-pointer" href="{{ path('register') }}">
                        <i class="fa fa-registered"></i>
                    </a>
                {% endif %}
            </div>

            <div class="search-form">
                <input class="search-input" type="text" name="search" placeholder="{{ 'nav.menu.search_placeholder'|trans }}">
                <button class="search-close"><i class="fa fa-times"></i></button>
            </div>
        </div>

    </div>
</div>
