<div id="nav">

    {{ render(controller('App\\Controller\\LayoutController::navMenu')) }}

    <div id="nav-aside">

        <div class="section-row">
            <ul class="nav-aside-menu">
                <li><a href="{{ path('home') }}">{{ 'nav.home'|trans }}</a></li>
                <li><a href="about.html">{{ 'nav.about_us'|trans }}</a></li>
                <li><a href="#">{{ 'nav.join_us'|trans }}</a></li>
                <li><a href="#">{{ 'nav.advertisement'|trans }}</a></li>
                <li><a href="contact.html">{{ 'nav.contacts'|trans }}</a></li>
            </ul>
        </div>

        <div class="section-row">
            <h3>Follow us</h3>
            <ul class="nav-aside-social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>

        <button class="nav-aside-close"><i class="fa fa-times"></i></button>
    </div>
</div>
