<div class="media">
    <div class="media-left">
        <img class="media-object" src="{{ parentComment.email|gravatar }}" alt="">
    </div>
    <div class="media-body">
        <div class="media-heading">
            <h4 class="comment-user">
                {{ parentComment.name }}({{ parentComment.email }})
                {% if parentComment.website %}
                    <span>
                        {{ parentComment.website }}
                    </span>
                {% endif %}
            </h4>
            <span class="time">{{ parentComment.createdAt|date('F d, Y') }}</span>
            <span data-id="{{ parentComment.id }}" class="comment-reply reply cursor-pointer">{{ 'article.reply.to_comment'|trans }}</span>
        </div>

        <p class="comment-text">{{ parentComment.description }}</p>

        {% for comment in parentComment.children %}
            {% include 'articles/common/_comment.html.twig' with {'parentComment':comment} %}
        {% endfor %}

    </div>
</div>
