{% extends 'layouts/public.html.twig' %}

{% block header %}
    <div id="post-header" class="page-header">
        {% if article.headerImage %}
             <div class="background-img" style="background-image: url('{{ article.headerImage.name|uploadImagePath }}');"></div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-meta">
                        <a class="post-category" style="background-color: {{ article.category.color }}"
                           href="{{ path('category_page',{'slug':article.category.slug}) }}"
                        >{{ article.category.title }}</a>
                        <span class="post-date">{{ article.publishedAt|date('F d, Y') }}</span>
                    </div>
                    <h1>{{ article.title }}</h1>
                    <div class="likes-block" data-action="{{ path('article_like',{'slug':article.slug}) }}">
                        <span class="action-btn" data-type="1">+</span>
                        (<span class="like-count">{{ countLikes }}</span>/<span class="dislike-count">{{ countDislikes }}</span>)
                        <span class="action-btn" data-type="0">-</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                {{ wo_render_breadcrumbs() }}
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="section-row sticky-container">
                        <div class="main-post">
                            {{ article.description|raw }}
                        </div>

                        {% include 'includes/_share_buttons.html.twig' %}

                    </div>

                    {% if comments|length > 0 %}
                        <div class="section-row">
                            <div class="section-title">
                                <h2>
                                    {% trans with {"%count%": countComments} %}
                                        {1} comment|]1,Inf[ %count% comments
                                    {% endtrans %}
                                </h2>
                            </div>

                            <div class="post-comments">
                                {% for comment in comments %}
                                    {% include 'articles/common/_comment.html.twig' with {'parentComment':comment} %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="section-row">
                        <div class="section-title">
                            <h2>{{ 'article.reply.leave'|trans }}</h2>

                            <div class="reply-block hidden">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        {{ 'article.reply.comment'|trans }} ({{ 'article.reply.user'|trans }}: "<span class="reply-user"></span>"):
                                        <span class="close-reply fa-close cursor-pointer"></span>
                                    </div>
                                    <div class="panel-body"></div>
                                </div>
                            </div>

                        </div>

                        {{ form_start(commentForm, {'attr': {'novalidate': 'novalidate','class': 'form-group'}}) }}
                            {{ form_widget(commentForm) }}
                        {{ form_end(commentForm) }}

                    </div>
                </div>

                <div class="col-md-4">

                    {{ render(controller('App\\Controller\\LayoutController::widgetCategories')) }}

                    {{ render(controller('App\\Controller\\LayoutController::widgetTags')) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
