<div class="tag-form">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'form-group'}}) }}

    <div class="form-group">
        <label for="cc-payment" id="{{ form.title.vars.id }}" class="control-label mb-1">{{ form.title.vars.label }}</label>
        {{ form_widget(form.title) }}
        <span class="help-block">
             {% for error in form.title.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="{{ form.isEnabled.vars.id }}" class="form-check-label ">
                {{ form_widget(form.isEnabled) }} {{ form.isEnabled.vars.label }}
            </label>
        </div>
        <span class="help-block">
             {% for error in form.isEnabled.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="{{ form.isMain.vars.id }}" class="form-check-label ">
                {{ form_widget(form.isMain) }} {{ form.isMain.vars.label }}
            </label>
        </div>
        <span class="help-block">
             {% for error in form.isMain.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <label for="cc-payment" id="{{ form.category.vars.id }}" class="control-label mb-1">{{ form.category.vars.label }}</label>
        {{ form_widget(form.category) }}
        <span class="help-block">
             {% for error in form.category.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <label for="cc-payment" id="{{ form.tags.vars.id }}" class="control-label mb-1">{{ form.tags.vars.label }}</label>
        {{ form_widget(form.tags) }}
        <span class="help-block">
             {% for error in form.tags.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>


    <div class="form-group">
        <label for="cc-payment" id="{{ form.description.vars.id }}" class="control-label mb-1">{{ form.description.vars.label }}</label>
        {{ form_widget(form.description) }}
        <span class="help-block">
             {% for error in form.description.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <label for="cc-payment" id="{{ form.shortDescription.vars.id }}" class="control-label mb-1">{{ form.shortDescription.vars.label }}</label>
        {{ form_widget(form.shortDescription) }}
        <span class="help-block">
             {% for error in form.shortDescription.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    <div class="form-group">
        <label for="cc-payment" id="{{ form.mainImage.vars.id }}" class="control-label mb-1">{{ form.mainImage.vars.label }}</label>
        {{ form_widget(form.mainImage) }}
        <span class="help-block">
             {% for error in form.mainImage.vars.errors %}
                 {{ error.getMessage }}
             {% endfor %}
        </span>
    </div>

    {{ form_end(form) }}
</div>
